
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>New cocktail</h1>
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: false, placeholder: "cocktail's name" %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

